.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(90deg, #659dfd, #544bfa);
  animation: float 20s infinite ease-in-out;
  opacity: 0.3;
  filter: blur(5px);
  will-change: transform;
  transition: transform 0.1s linear;
}

.circle1 {
  width: 200px;
  height: 200px;
  top: 10%;
  left: 15%;
  animation-delay: 0s;
}

.circle2 {
  width: 400px;
  height: 400px;
  bottom: 20%;
  right: 5%;
  animation-delay: 5s;
}

.circle3 {
  width: 100px;
  height: 100px;
  bottom: 10%;
  right: 70%;
  animation-delay: 5s;
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-50px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
