.main {
  height: 100vh;
  scroll-behavior: smooth;
  position: relative;
}

.section {
  display: flex;
  height: 100vh;
  padding: 5rem;
  box-sizing: border-box;
}

.intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  position: relative;
  width: fit-content;
}

.portrait {
  max-width: 72%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 auto;
}

.overlayBox {
  position: absolute;
  max-width: 20%;
  z-index: 2;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeSlideIn 0.8s ease-out forwards;
  border-radius: 12px;
}

.overlayBox:nth-of-type(2) {
  top: 0%;
  left: 7%;
}

.overlayBox:nth-of-type(3) {
  bottom: -5%;
  right: 7%;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInUp {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeSlideUp 0.8s ease-out forwards;
}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.gradient-name {
  background: linear-gradient(90deg, #659dfd, #544bfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.projectTitleWrapper {
  text-align: center;
}

.projectTitle {
  font-size: 3rem;
  background: linear-gradient(90deg, #659dfd, #544bfa);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin: 0;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  min-height: 80vh;
}

.aboutContent {
  max-width: 800px;
  margin-left: 3rem;
  text-align: start;
  padding: 6.2rem 0;
}

@media (max-width: 768px) {
  .intro {
    margin-left: 1rem;
  }

  .section {
    flex-direction: column;
    text-align: start;
    padding: 2rem 1rem 10rem;
  }

  .projectTitle {
    font-size: 2rem;
  }

  .portrait {
    max-width: 200px;
  }

  .intro h1 {
    font-size: 2rem;
  }

  .overlayBox {
    max-width: 40%;
    transform: translateX(-30px);
  }

  .overlayBox:nth-of-type(2) {
    top: 0%;
    left: -20%;
  }

  .overlayBox:nth-of-type(3) {
    bottom: -10%;
    right: -20%;
  }

  .aboutContent {
  margin-left: 0;
}
}
